body, html {
        margin: 0px;
        background-color: #f8f9fa;
        height:100%;
}

iframe {
    width:100%;
    height:100%;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #fff;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #adb5bd;
    text-decoration: none;
}

.header {
    position: relative;
}

.creators {
    height:560px;
}

.creators a{
    color: #343a40;
    transition: ease-in-out color .15s;
}

.creators a:hover {
    color: #868e96;
    text-decoration: none;
}

.live {
    height:10px;
    width:10px;
    background-color: red;
}
